.App{
    margin: 20px;
    .product-head{
        h3{
            font-size: 16px;
            color: #ccc;
        }
        h1, h2{
            font-size: 25px;
            color: #000;
            margin: 10px 0;
        }
        h2{
            span{
                margin: 10px;
                font-size: 20px;
                color: #ccc;
                text-decoration: line-through;
            }
        }
    }
    .description{
        margin-top: 20px;
    }
}
